{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure rem ipsam deleniti officia minima aperiam quia autem
    iusto asperiores non nostrum quaerat vero alias eaque, suscipit doloremque obcaecati eos ex? Quam consequatur
    blanditiis eligendi sed? Minima architecto ad atque assumenda eos, placeat deserunt, ducimus ut dolorum veritatis
    praesentium suscipit molestiae cumque accusamus tempore laudantium, ipsam sed obcaecati blanditiis sequi amet!
    Consectetur aliquid esse repellendus. Porro consequuntur doloremque quas repellendus non commodi consequatur eveniet
    hic quae vitae dolorum unde aspernatur, aliquam sunt assumenda tenetur voluptatem laudantium. Iusto ea, repellat
    magni voluptate fugiat laborum quos distinctio. Provident saepe eius esse fuga non!
</p>

<p>Website created by {{ username }}</p>
{% endblock %}